body {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
    margin: 0;
    /* background-color: #fff; */
    font-family: 'Open Sans', sans-serif;
}

.jumbotron {
    background-color: black;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

h2 {
    margin-left: 1%;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #6E44FF;
    color: #fff;
}

.clear-search {
    margin: 1em 1em 1em 0em;
}

.city-card {
    border-width: 1em;
    border-color: black;
}

/* .card {    
    display: flexbox;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 154, 194);
    color:black;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em; 
    height: 15rem;
} */

#cards {
    display: flexbox;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 154, 194);
    color:black;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em; 
    height: 15rem;   
}

.search {
    border-radius: 24px;
    color: black;
    font-family: inherit;
    font-size: 105%;
    width:calc(100% - 100px);
}

.description {
    text-transform: capitalize;
    margin-left: 10px;
}

.flex{
    display: flex;
    align-items: center;
}

.weather{
    margin-left: 10px;
}

.date {
    margin: 10px;
    font-size: 20px;
}

.humidity {
    margin: 10px;
}

.wind {
    margin: 10px;
}

.img {
    margin: 10px;
}

.temp {
    margin: 10px;
}